#products{
    width: 100%;
    display: flex;
    background-image: url("../../resources/bg-products.jpg");
}

.products-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    align-self: center;
}

.products-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    margin-bottom: 2%;
}